<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Java Evangelist</title>
</head>

<body>

    <h1>Manufacturers List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Name</th>
        </tr>
        <tr th:each="manufacturer : ${manufacturers}">
            <td th:text = "${manufacturer.id}">123</td>
            <td th:text = "${manufacturer.location}">Swing</td>
            <td th:text = "${manufacturer.name}">OffRoad</td>
        </tr>

    </table>

</body>

</html>